<div class="sidebar-container">

    <div class="sidebar-header">
        <h3>Menu Navigazione</h3>
    </div>

    <div class="sidebar-content">

        <div *ngFor="let menuItem of menu" class="menu-section">
            <!-- Gruppo principale come tendina -->
            <div class="section-header" (click)="toggleSection(menuItem.title)">
                <div class="section-title">{{ menuItem.title }}</div>
                <mat-icon class="section-expand-icon" [class.expanded]="isSectionExpanded(menuItem.title)">
                    expand_more
                </mat-icon>
            </div>

            <!-- Contenuto del gruppo (collassabile) -->
            <div class="section-content" [class.expanded]="isSectionExpanded(menuItem.title)">
                <mat-nav-list class="section-list">
                    <div *ngFor="let item of menuItem.items" class="menu-item-container">
                        <!-- Item senza figli -->
                        <mat-list-item *ngIf="!item.children" (click)="navigateTo(item.route!, item.queryParams)"
                            class="menu-item">
                            <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
                            <span matListItemTitle>{{ item.title }}</span>
                        </mat-list-item>

                        <!-- Item con figli (2° livello) -->
                        <div *ngIf="item.children" class="menu-group">
                            <div class="parent-item" (click)="toggleGroup(item.title)">
                                <mat-icon class="parent-icon">{{ item.icon }}</mat-icon>
                                <span class="parent-title">{{ item.title }}</span>
                                <mat-icon class="expand-icon" [class.expanded]="isGroupExpanded(item.title)">
                                    expand_more
                                </mat-icon>
                            </div>

                            <div class="children-container" [class.expanded]="isGroupExpanded(item.title)">
                                <mat-list-item *ngFor="let child of item.children"
                                    (click)="navigateTo(child.route!, child.queryParams)" class="child-item">
                                    <mat-icon matListItemIcon>{{ child.icon }}</mat-icon>
                                    <span matListItemTitle>{{ child.title }}</span>
                                </mat-list-item>
                            </div>
                        </div>
                    </div>
                </mat-nav-list>
            </div>

            <mat-divider class="section-divider" *ngIf="isSectionExpanded(menuItem.title) && !isLastSection(menuItem)">
            </mat-divider>
        </div>

    </div>

</div>


<!-- <div class="sidebar-container">

    <div class="sidebar-header">
        <h3>Menu Navigazione</h3>
    </div>

    <div class="sidebar-content">

        <div *ngFor="let menuItem of menu" class="menu-section">
            <div class="section-title">{{ menuItem.title }}</div>

            <mat-nav-list class="section-list"> 
                <div *ngFor="let item of menuItem.items" class="menu-item-container">   -->
<!-- Item senza figli -->
<!--              <mat-list-item *ngIf="!item.children" (click)="navigateTo(item.route!, item.queryParams)"
                        class="menu-item">
                        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
                        <span matListItemTitle>{{ item.title }}</span>
                    </mat-list-item> -->

<!-- Item con figli (2° livello) -->
<!--                     <div *ngIf="item.children" class="menu-group">
                        <div class="parent-item" (click)="toggleGroup(item.title)">
                            <mat-icon class="parent-icon">{{ item.icon }}</mat-icon>
                            <span class="parent-title">{{ item.title }}</span>
                            <mat-icon class="expand-icon" [class.expanded]="isGroupExpanded(item.title)">
                                expand_more
                            </mat-icon>
                        </div>

                        <div class="children-container" [class.expanded]="isGroupExpanded(item.title)">
                            <mat-list-item *ngFor="let child of item.children"
                                (click)="navigateTo(item.route!, item.queryParams)" class="child-item">
                                <mat-icon matListItemIcon>{{ child.icon }}</mat-icon>
                                <span matListItemTitle>{{ child.title }}</span>
                            </mat-list-item>
                        </div>
                    </div>
                </div>
            </mat-nav-list>

            <mat-divider class="section-divider"></mat-divider>
        </div>

    </div>

</div> -->