<!-- src/app/features/home/home.component.html -->
<div class="home-container">
    <!-- Loading State -->
    <div *ngIf="loading" class="loading-container">
        <mat-spinner diameter="50"></mat-spinner>
        <p class="loading-text">Caricamento dati in corso...</p>
    </div>

    <!-- Main Content con Mat Tabs -->
    <div *ngIf="!loading" class="sections-container">

        <!-- Mat Tab Group per le 3 sezioni principali -->
        <mat-tab-group [selectedIndex]="selectedTabIndex" (selectedTabChange)="onTabChange($event)"
            class="main-tab-group" dynamicHeight animationDuration="300ms">

            <!-- TAB CREDENZIALI -->
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="tab-icon credentials-icon">vpn_key</mat-icon>
                    <span class="tab-label">Credenziali</span>
                </ng-template>

                <ng-template matTabContent>
                    <app-item-section [config]="credentialsConfig" [mostUsedItems]="credentialsData"
                        [recentItems]="credentialsRecentData" (navigate)="onCredentialsNavigate()"
                        (itemClick)="onCredentialItemClick($event)" (copyClick)="onCopyClick($event.text, $event.item)"
                        (actionClick)="onCredentialActionClick($event)">
                    </app-item-section>
                </ng-template>
            </mat-tab>

            <!-- TAB WEB LINKS -->
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="tab-icon weblinks-icon">link</mat-icon>
                    <span class="tab-label">Web Links</span>
                </ng-template>

                <ng-template matTabContent>
                    <app-item-section [config]="weblinksConfig" [mostUsedItems]="weblinksData"
                        [recentItems]="weblinksRecentData" (navigate)="onWeblinksNavigate()"
                        (itemClick)="onWeblinkItemClick($event)" (copyClick)="onCopyClick($event.text, $event.item)"
                        (actionClick)="onWeblinkActionClick($event)">
                    </app-item-section>
                </ng-template>
            </mat-tab>

            <!-- TAB NOTE TECNICHE -->
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="tab-icon notes-icon">note_alt</mat-icon>
                    <span class="tab-label">Note Tecniche</span>
                </ng-template>

                <ng-template matTabContent>
                    <app-item-section [config]="notesConfig" [mostUsedItems]="notesData" [recentItems]="notesRecentData"
                        (navigate)="onNotesNavigate()" (itemClick)="onNoteItemClick($event)"
                        (copyClick)="onCopyClick($event.text, $event.item)" (actionClick)="onNoteActionClick($event)">
                    </app-item-section>
                </ng-template>
            </mat-tab>

        </mat-tab-group>

    </div>
</div>